*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
}
.parent{
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    height: 200px;
    gap: 100px;
    justify-content: center;
    align-items: center;
   
    
}
.child{
    background-color: darkgoldenrod;
    color: aqua;
    text-align: center;
    padding: 20px;
    gap: 30px;
   
}